*.o
*.ko
kernel-4.0/bzImage
kernel-4.0/system.map
kernel-4.0/initramfs_data.cpio.gz
kernel-4.0/linux-4.0/_install_arm32/bin/busybox
kernel-4.0/linux-4.0/_install_arm32/home/figo/systemtap-3.0-3521/bin/staprun
kernel-4.0/linux-4.0/_install_arm32/home/figo/systemtap-3.0-3521/libexec/systemtap/stapio
kernel-4.0/linux-4.0/_install_arm64/bin/busybox
kernel-4.0/linux-4.0/_install_x86/bin/busybox
kernel-4.0/linux-4.0/arch/x86/boot/compressed/vmlinux.bin
kernel-4.0/linux-4.0/arch/x86/boot/compressed/mkpiggy
kernel-4.0/linux-4.0/arch/x86/boot/compressed/vmlinux
kernel-4.0/linux-4.0/arch/x86/boot/tools/build
kernel-4.0/linux-4.0/arch/x86/boot/mkcpustr
kernel-4.0/linux-4.0/arch/x86/boot/setup.elf
kernel-4.0/linux-4.0/arch/x86/realmode/rm/realmode.elf
kernel-4.0/linux-4.0/arch/x86/tools/relocs
kernel-4.0/linux-4.0/arch/x86/vdso/vdso64.so.dbg
kernel-4.0/linux-4.0/arch/x86/vdso/vdso2c
kernel-4.0/linux-4.0/crypto/xor.ko
kernel-4.0/linux-4.0/drivers/thermal/x86_pkg_temp_thermal.ko
kernel-4.0/linux-4.0/fs/btrfs/btrfs.ko
kernel-4.0/linux-4.0/fs/efivarfs/efivarfs.ko
kernel-4.0/linux-4.0/lib/raid6/mktables
kernel-4.0/linux-4.0/lib/raid6/raid6_pq.ko
kernel-4.0/linux-4.0/lib/zlib_deflate/zlib_deflate.ko
kernel-4.0/linux-4.0/lib/gen_crc32table
kernel-4.0/linux-4.0/net/ipv4/netfilter/ipt_MASQUERADE.ko
kernel-4.0/linux-4.0/net/ipv4/netfilter/iptable_nat.ko
kernel-4.0/linux-4.0/net/ipv4/netfilter/nf_log_arp.ko
kernel-4.0/linux-4.0/net/ipv4/netfilter/nf_log_ipv4.ko
kernel-4.0/linux-4.0/net/ipv4/netfilter/nf_nat_ipv4.ko
kernel-4.0/linux-4.0/net/ipv4/netfilter/nf_nat_masquerade_ipv4.ko
kernel-4.0/linux-4.0/net/ipv6/netfilter/nf_log_ipv6.ko
kernel-4.0/linux-4.0/net/netfilter/nf_log_common.ko
kernel-4.0/linux-4.0/net/netfilter/nf_nat.ko
kernel-4.0/linux-4.0/net/netfilter/nf_nat_ftp.ko
kernel-4.0/linux-4.0/net/netfilter/nf_nat_irc.ko
kernel-4.0/linux-4.0/net/netfilter/nf_nat_sip.ko
kernel-4.0/linux-4.0/net/netfilter/xt_LOG.ko
kernel-4.0/linux-4.0/net/netfilter/xt_mark.ko
kernel-4.0/linux-4.0/net/netfilter/xt_nat.ko
kernel-4.0/linux-4.0/scripts/basic/fixdep
kernel-4.0/linux-4.0/scripts/kconfig/conf
kernel-4.0/linux-4.0/scripts/mod/mk_elfconfig
kernel-4.0/linux-4.0/scripts/mod/modpost
kernel-4.0/linux-4.0/scripts/kallsyms
kernel-4.0/linux-4.0/scripts/pnmtologo
kernel-4.0/linux-4.0/scripts/conmakehash
kernel-4.0/linux-4.0/scripts/sortextable
kernel-4.0/linux-4.0/tools/systemtap_host/bin/stap
kernel-4.0/linux-4.0/tools/systemtap_host/bin/stap-merge
kernel-4.0/linux-4.0/tools/systemtap_host/bin/staprun
kernel-4.0/linux-4.0/tools/systemtap_host/bin/stapsh
kernel-4.0/linux-4.0/tools/systemtap_host/lib/systemtap/libdw.so.1
kernel-4.0/linux-4.0/tools/systemtap_host/lib/systemtap/libelf.so.1
kernel-4.0/linux-4.0/tools/systemtap_host/libexec/systemtap/stap-authorize-cert
kernel-4.0/linux-4.0/tools/systemtap_host/libexec/systemtap/stap-gen-cert
kernel-4.0/linux-4.0/tools/systemtap_host/libexec/systemtap/stap-serverd
kernel-4.0/linux-4.0/tools/systemtap_host/libexec/systemtap/stap-sign-module
kernel-4.0/linux-4.0/tools/systemtap_host/libexec/systemtap/stapio
kernel-4.0/linux-4.0/usr/gen_init_cpio
kernel-4.0/linux-4.0/.tmp_vmlinux1
kernel-4.0/linux-4.0/.tmp_vmlinux2
kernel-4.0/linux-4.0/vmlinux
kernel-4.0/sharedFolder/hw03.syscall.asm/syscall
kernel-4.0/sharedFolder/hw04.syscall.kernel/syscall
kernel-4.0/sharedFolder/hw05.pthread/pthread-create
kernel-4.0/vmlinux
